<nav class="navbar navbar-expand-sm navcolor sticky-top">
  <!--   test -->
  <div class="container-fluid mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#" style="color:white"><b>< Yona.D></b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"  style="border:1px white solid">
      <span class="fa fa-bars text-light"></span>
    </button>
    <div class="collapse navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-3">
          <a class="nav-link" href="{% url 'homepage' %}#about" style="color:white">About</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="{% url 'homepage' %}#skills" style="color:white">Skills</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="{% url 'homepage' %}#education" style="color:white">Education</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="{% url 'homepage' %}#project" style="color:white">Projects</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="{% url 'homepage' %}#blog" style="color:white">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homepage' %}#contact"style="color:white" >Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>