<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        October to December 2021
      </div>
      <div class="item-title fw-bolder">Full-stack Web developer Python and Javascript program</div>
      <div class="item-detail">Developers Intitute of Tel Aviv</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2018-2021
      </div>
      <div class="item-title fw-bolder">Master's degree in Business Administration, majoring in Big Data</div>
      <div class="item-detail">Hebrew University of Jerusalem </div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2015
      </div>
      <div class="item-title fw-bolder">BSc. in Physics with high honors</div>
      <div class="item-detail">University of Montpellier, France</div>
    </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2012-2014
      </div>
      <div class="item-title fw-bolder">Specials Mathematics & Superiors Mathematics</div>
      <div class="item-detail">CPGE Joffre, Montpellier, France</div>
      <div class="item-detail">2-years highly intensive program preparing for French top level schools “Grandes Ecoles”. Main subjects: Mathematics, Engineering science, Chemistry, Physics, English</div>
    </li>

  </ul>

</div>
